<mat-sidenav-container class="sidenav-container">
    <mat-sidenav  
    #drawer  
    [opened]="!small"  
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" >
      <mat-toolbar class="white"><h6>Mdbmo</h6></mat-toolbar>
      <mat-nav-list>
        <a class="sidenavelement" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/" mat-list-item href="#">  &nbsp; Dashboard</a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/user" mat-list-item href="#"> &nbsp; User Profile</a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/table" mat-list-item href="#"> &nbsp; Table List</a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/typo" mat-list-item href="#"> &nbsp; Typography</a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/icons" mat-list-item href="#">  &nbsp; Icons</a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/maps" mat-list-item href="#"> &nbsp; Maps</a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/notify" mat-list-item href="#"> &nbsp; Notifications</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="grey lighten-2" style="min-height:40px">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span class="example-fill-remaining-space"></span>  
        
        <span class="example-fill-remaining-space"></span>  
      <span class="example-fill-remaining-space"></span>  
        <button mat-icon-button (click)="dashboard()" color="primary">
          <mat-icon>dashboard</mat-icon>
         </button>  
      </mat-toolbar>
        <div *ngIf="isClicked" class="row example-container">
  
        </div>
          <router-outlet></router-outlet> 
          
    </mat-sidenav-content>
  </mat-sidenav-container>